body{
    background-color: rgb(124, 66, 21);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    
}



img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid  #00000066 ;
    

}


.imagem{
    text-align: center;
    height: 40%;
    
}


ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none ;
    align-items: center;
    padding: 16px;

}

a{
    color: rgb(55, 226, 55);
    text-decoration: none ;
    font-family:sans-serif;
    
}

.sobr{
    display: flex;
    margin-top: 50px;
    font-size: 20px;
    font-family: initial;
    color: #4db95df3;
}


h1{
    color:  #6dd292;

}

.container{
    padding: 0px 50px;
}

nav a:hover{
    color: #009966;
    box-shadow: 1px 1px 111px 6px;
}

p{
    width: 60%;
}

#projetos{
    color: rgb(55, 226, 55);
    transition: 3s;
    
}

.redes{
    display: flex;
    gap: 15px;
    position: absolute;
    top: 25px;
    right: 45px;
}


html {
    Scroll-behavior: smooth;
    background-color: black;
    
}


i{
    color: white;
}


